body{
    color: #fff;
}
.container{
    width: 100%;
    padding: 35px 10%;
}
.container{
    padding-right: calc(10% - 30px);
}
.head-title h1{
    font-size: 4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 10vh;
}
main.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:20px ;
}
.col header.title h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    font-weight: bold;
    padding: 0px 0px 20px 30px;
}
.col .contents{
    padding: 0px 30px;
    border-left: 2px solid blue;
}
.col .contents .box{
    position: relative;
    padding: 20px;
    border: 1px solid blue;
    border-radius: 20px;
    /* background-color: antiquewhite; */
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}
.col .contents .box:hover{
    box-shadow: 0px 3px 12px 0px;
    border: 1px solid transparent;
}
.col .contents .box::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    border: 2px solid #fff;
    background-color: #fff;
}
.box h4{
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box h3{
    font-size: 19px;
    padding: 10px 0px 6px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    font-weight: bold;
}
.box p{
    font-size: 17px;
    line-height: 1.2;
}
@media(max-width:768px){
    main.row {
        grid-template-columns: 1fr;
    }
    .row .col:nth-child(2){
        margin-top: 30px;
    }
}

#footer{
    padding-top: 10%;
}
@media(max-width:768px){
    #footer{
       padding-top: 210%;
    }
}

    